.home {
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100vh;
	color: rgb(181, 181, 181);
	width: 100vw;
}

.particles {
	z-index: 1;
}

.home--landing {
	z-index: 2;
	flex-wrap: wrap;
	min-width: 95vw;
	min-height: 84vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid rgba(0, 0, 0, 0.559);
	box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.559);
	background-color: #00000031;

	padding: 3em;
}

.home--animation {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30em;
	width: 30em;
	perspective: 2000px;
	transform-style: preserve-3d;
}

.home--icon {
	display: block;
	position: relative;
	width: 15em;
	bottom: 0;
	transform: scale(0.02) translateZ(200px);
	animation: slide-in 6s forwards, appear 10s forwards,
		move 16s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
	animation-delay: 0s, 0s, 6s;
	transition: transform 4s, right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transform-origin: center center;
}

@keyframes appear {
	100% {
		transform: scale(0.9);
	}
}

@keyframes move {
	0% {
		transform: translateX(0) translateY(0) rotateY(0deg) rotateZ(0deg) scale(0.8);
	}
	10% {
		transform: rotateZ(-10%) translateY(-5%) rotateY(-20deg) scale(0.9);
	}
	25% {
		transform: rotateZ(-10deg) translateY(-30%) rotateY(-35deg) translateX(-40%) scale(1.2);
	}
	40% {
		transform: rotateZ(5deg) translateY(-50%) rotateY(-20deg) scale(0.95);
	}
	50% {
		transform: rotateZ(10deg) translateY(-40%) rotateY(-10deg) translateX(-60%) scale(0.6);
	}
	60% {
		transform: rotateZ(12deg) translateY(-50%) rotateY(0deg) translateX(-60%) scale(0.5);
	}
	70% {
		transform: rotateZ(5deg) translateY(-30%) rotateY(10deg) translateX(0%) scale(0.7);
	}
	80% {
		transform: rotateZ(-10deg) translateY(-20%) rotateY(20deg) translateX(60%) scale(0.8);
	}
	90% {
		transform: rotateZ(10deg) translateY(-10%) rotateY(10deg) translateX(60%) scale(0.9);
	}
	100% {
		transform: translateY(0%) rotateZ(0deg) translateX(0) scale(0.8);
	}
}

.home--welcome {
	display: flex;
	flex-direction: column;
	width: 30em;
}

.home--container {
	font-size: 1.5em;
	max-width: 19.3em;
	height: 8em;
}

.home--nav {
	justify-self: flex-end;
	display: flex;
	position: relative;
	align-items: flex-end;
	justify-content: space-between;
}

.home--latest {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 20px;
	padding: 20px;
	max-width: 90%;
	height: 200em;
}

.home--swiper {
	position: relative;
	padding: 200px;
	width: 100%;
	z-index: 1;
	/* background-color: black; */
}

.swiper--project {
	position: relative;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #4b385e00;
	z-index: 1;
}

button {
	font-family: 'Roboto Mono', monospace;
	/* color: white; */
	padding: 1em 2em;
	border: none;
	border-radius: 10px;
	background-color: #cebc81;
	transition: background-color 0.2s ease-in-out, transform 0.3s ease-in-out,
		box-shadow 0.3s ease-in-out;
}

button:hover {
	transform: scale(1.05);
	box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.344);
}

.btn-green {
	background-color: #64d989;
}

.btn-green:hover {
	background-color: #71e596;
}

.btn-pink {
	background-color: #a16e83;
}

.btn-pink:hover {
	background-color: #ce8ea9;
}
.home--latest {
	z-index: 1;
	display: flex;
}

.swiper--container {
	z-index: 2;
}

h3 {
	position: relative;
	color: rgb(186, 186, 186);
	z-index: 1;
	font-size: 1.5rem;
	padding-bottom: 1em;
}
