.home {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100vh;
	color: white;
	width: 100vw;
}

.particles {
	z-index: 1;
}

.home--landing {
	z-index: 2;
	flex-wrap: wrap;
	min-width: 95vw;
	min-height: 82vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid rgba(0, 0, 0, 0.559);
	box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.559);
	background-color: #19181a6c;

	padding: 3em;
}

.home--animation {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30em;
	width: 30em;
}

.home--icon {
	position: relative;
	width: 15em;
	bottom: 0;
	right: -100%;
	animation: slide-in 10s forwards, rotate 6s infinite, shake 6s infinite, jump 6s infinite;
	transition: transform 2s ease-in-out, right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transform-origin: center center;
}

@keyframes slide-in {
	100% {
		right: 0;
	}
}

@keyframes jump {
	25% {
		transform: translateY(70px);
	}
	50% {
		transform: translateY(-20px);
	}
	70% {
		transform: translateY(10px);
	}
	90% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes rotate {
	0% {
		transform: rotateZ(0deg);
	}
	33% {
		transform: rotateZ(80deg);
	}
	66% {
		transform: rotateZ(-80deg);
	}
	100% {
		transform: rotateZ(0deg);
	}
}

@keyframes shake {
	0% {
		transform: translateX(0);
	}
	10%,
	90% {
		transform: translateX(-10px);
	}
	20%,
	80% {
		transform: translateX(10px);
	}
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}
	40%,
	60% {
		transform: translateX(10px);
	}
	100% {
		transform: translateX(0);
	}
}

.home--welcome {
	display: flex;
	flex-direction: column;
}

.home--container {
	font-size: 1.5em;
	max-width: 19.3em;
	height: 8em;
}

.home--nav {
	justify-self: flex-end;
	display: flex;
	position: relative;
	align-items: flex-end;
	justify-content: space-between;
}

.home--latest {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 20px;
	padding: 20px;
	max-width: 90%;
	height: 200em;
}

.home--swiper {
	padding: 200px;
	width: 100%;
	/* background-color: black; */
}

.swiper--project {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #19181a;
}

button {
	font-family: 'Roboto Mono', monospace;
	/* color: white; */
	padding: 1em 2em;
	border: none;
	border-radius: 10px;
	background-color: #cebc81;
	transition: background-color 0.2s ease-in-out, transform 0.3s ease-in-out,
		box-shadow 0.3s ease-in-out;
}

button:hover {
	transform: scale(1.05);
	box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.344);
}

.btn-green {
	background-color: #64d989;
}

.btn-green:hover {
	background-color: #71e596;
}

.btn-pink {
	background-color: #a16e83;
}

.btn-pink:hover {
	background-color: #ce8ea9;
}
.home--latest {
	display: flex;
}

h3 {
	padding-bottom: 2em;
	text-decoration: underline;
	color: rgb(208, 208, 208);
	transition: opacity 2s ease-in-out;
	opacity: 80%;
}
