.container {
	/* background-image: url('./backgroundPattern.png'); */
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: -1;

	background-color: #19181a;
	height: 100vh;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index: -1;
	padding-block: clamp(1rem, 1.5rem, 2rem);
}
