.user {
	padding: 13px;
	grid-area: 1 / 3 / 2 / -1;
	margin: 2px 2px;
	color: #b19f9e;
	justify-self: flex-end;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	box-shadow: 3px 3px 3px rgb(33, 33, 33);

	border-radius: 10px;
	width: clamp(80px, 50%, 160px);
	height: 20px;
	z-index: 1;
	transition: background-color 0.2s ease-in-out, transform 0.3s ease-in-out, color 0.5s ease-in-out;
}

.user:hover {
	background-color: #de0c649f;
	transform: scale(1.05);
	color: white;
}

.user::before {
	content: '';
	background-image: conic-gradient(#a16e83 20deg, transparent 120deg);
	width: 150%;
	height: 150%;
	position: absolute;
	animation: rotate 8s linear infinite;
	box-shadow: 50px 50px 50px #479761;
}

.user::after {
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 10px;
	content: 'Login';
	width: 98%;
	height: 95%;
	position: absolute;
	background: #19181a;
	position: absolute;
	box-shadow: 50px 50px 50px #479761;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
