.contact {
	z-index: 1;
	color: white;
}

.contact--container {
	background-color: #00000031;
	box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.559);

	min-width: 95vw;
	min-height: 70vh;
	margin-bottom: 3em;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	padding: 3rem;
	gap: 2rem;
}

.contact--text {
	text-align: left;
	font-size: 1.2rem;
	max-width: 50vw;
}

.contact--buttons {
	align-items: center;
	justify-content: center;
	display: flex;
	gap: 2rem;
	flex-wrap: wrap;
}

.contact--linkedin,
.contact--github {
	width: 10rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10rem;
}
