.header {
	z-index: 5;
	position: fixed;
	position: -webkit-sticky; /* Safari */

	top: 0;
	display: flex;
	padding-block: 1rem;

	justify-content: space-around;
	height: max-content;
	width: 100%;

	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.364);
	background-color: #19181a;

	color: #b19f9e;
}
